name: ProgressDialogBuildTestDeploy

on: [push, pull_request]
  
jobs:
  build:
    runs-on: windows-latest
   
    steps:
    - name: Checkout repo
      uses: actions/checkout@v5
      with:
        submodules: false
      
    - name: Setup Dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 7.0.x
          
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2.0.0
      
    - name: Build
      run: |
        cd ProgressDialog
        dotnet build --configuration Release

    - name: Nuget Deploy
      if: startsWith(github.ref, 'refs/tags/v') # make sure deploy only runs on tags with version number
      run: |
        $env:RELEASE_VERSION=($env:GITHUB_REF).split("tags/v")[-1]
        echo $env:RELEASE_VERSION
        echo $env:GITHUB_SHA
        cd ProgressDialog
        mkdir nupkg
        dotnet pack -p:PackageVersion=$env:RELEASE_VERSION -o  $PWD\nupkg -p:RepositoryCommit=$env:GITHUB_SHA --configuration Release
        cd nupkg
        dotnet nuget push "**/*.nupkg" --api-key ${{secrets.NUGET_DEPLOY_KEY}} --source "https://api.nuget.org/v3/index.json"
